<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <% include jslibsAndStyles.html %>
</head>
<body>

<% include header.html %>

<div class="panel panel-default">
    <div class="panel-heading">login</div>
    <div class="panel-body">
        Panel content
    </div>
</div>


<form id="signin" name="signin" method="post" action="signin">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign In" />
</form>

</body>
</html>
